{% extends 'base.html' %}

{% block content %}
    <form action="" method=""post>
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="prénom"><br>
        <input type="text" name="last-name" placeholder="Nom"><br>
        <input type="email" name="email" placeholder="Mail"><br>
        <input type="password" name="password" placeholder="Mot de passe"><br>
        <input type="password" name="confirm_password" placeholder="Confirmer mot de passe"><br>
        <input type="submit">
    </form>
{% endblock %}